
    <mat-form-field appearance="legacy">
        <div>
            <mat-label>Legacy form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </div>
    </mat-form-field>
 
   <!--    <div>
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>  
      </div>

      <div>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="datepicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </div>
 -->
      
<!--       <div>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="datepicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </div>
      -->
     

      
  

  

