.form__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.form__division{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

mat-card, mat-card-content, input, mat-label, mat-checkbox, textarea{
    width: 100%;
    margin: 15px 0px 15px 0px;
    background-color: #d9d9d9;
    font-family: Gilda Display;
    font-size: 20px;
    font-weight: bold;
    color:#353535;
}
