

.prenium__package{
    color:#FFFFFF;
    padding: 20px;
    margin: 15px;
    width: 300px;
    height: 300px;
}

.mat-card-title{
    text-align: center;
    font-family: Cookie;
    font-size: 32px;
    font-style: italic;
    padding: 15px;
    color:#FFFFFF;
}

.mat-card-subtitle, mat-card-content{
    font-family: Gilda Display;
    font-weight: bolder;
    font-family: 24px;
    color:#FFFFFF;
}



