
.minipackagecard__container{
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   flex-direction: row;
   padding: 25px;
}

.prenium__package{
    background-color: #ffc300;
    color:#FFFFFF;
    display: inline-block;
    width: 20%;
    padding: 20px;
    margin: 5px;
}

