.minicard__container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.prenium__package{
    background-color: #fcbf49;
    color:#FFFFFF;
    width: 25%;
    padding: 40px;
    margin: 10px;
}

.mat-card-title{
    text-align: center;
    font-family: Cookie;
    font-size: 32px;
    font-style: italic;
    padding: 15px;
    color:#FFFFFF;
}

.mat-card-subtitle, mat-card-content{
    font-family: Gilda Display;
    font-weight: bolder;
    font-family: 24px;
    color:#FFFFFF;
}



