
.minipackagecard__container{
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   flex-direction: row;
   padding: 25px;
}

.minipackage__card{
    display: inline-block;
    width: 20%;
    padding: 20px;
    margin: 5px;
}
