
<mat-card class="package__card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{package?.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://www.pexels.com/fr-fr/photo/photo-de-bouteille-de-vin-et-de-nourriture-sur-la-table-1579253/" alt="Photo d'une chambre d'hôtel avec cadeaux d'acceuil">
    <mat-card-content>
      <p>{{package?.description}}</p>
      <mat-card-subtitle>{{package?.code}}</mat-card-subtitle>
      <mat-card-subtitle> DU: {{package?.startdate}}</mat-card-subtitle>
      <mat-card-subtitle> AU: {{package?.enddate}}</mat-card-subtitle>
      <mat-card-subtitle>{{package?.price}} $</mat-card-subtitle>
      <mat-card-subtitle>{{package?.categories}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button><span class="package__icon">
        <mat-icon>info </mat-icon>
        </span></button>
      <button mat-icon-button><span class="material-icons-outlined">
      <mat-icon>   add_shopping_cart</mat-icon>
        </span></button>
      <button mat-icon-button><span class="material-icons-outlined">
        <mat-icon> favorite</mat-icon>
        </span></button>
    </mat-card-actions>
  </mat-card>
  